In [43]:
# Load dataset
import pandas as pd
df = pd.read_csv("startup Dataset_global.csv")

# Inspect columns
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Name            1050 non-null   object
 1   Country         1050 non-null   object
 2   Description     1050 non-null   object
 3   Launch Date     1050 non-null   object
 4   Founders        1050 non-null   object
 5   Revenue Year 1  1050 non-null   object
 6   Revenue Year 2  1050 non-null   object
 7   Revenue Year 3  1050 non-null   object
 8   Current Status  1050 non-null   object
dtypes: object(9)
memory usage: 74.0+ KB

,Name,Country,Description,Launch Date,Founders,Revenue Year 1,Revenue Year 2,Revenue Year 3,Current Status
0,SpaceX,USA,Aerospace manufacturer and space transport.,2002-03-14,Elon Musk,$0,$0,$0,Successful
1,Stripe,USA,Online payment processing.,2011-09-29,"Patrick Collison, John Collison",$0,$0,$10M,Successful
2,Airbnb,USA,Vacation rentals and homestays.,2008-08-01,"Brian Chesky, Joe Gebbia, Nathan Blecharczyk",$0,$1M,$8.4M,Successful
3,Uber,USA,Ride-hailing and food delivery.,2009-03-01,"Travis Kalanick, Garrett Camp",$0,$0,$0.5M,Successful
4,Canva,Australia,Graphic design platform.,2013-01-01,"Melanie Perkins, Cliff Obrecht, Cameron Adams",$0,$1M,$2M,Successful

In [44]:
df['Current Status'].value_counts()

Current Status
Successful    709
Acquired      209
Failed        132
Name: count, dtype: int64

In [45]:
# Required columns
df_clean = df[['Name', 'Country', 'Description', 'Launch Date']]

# Rename columns
df_clean = df_clean.rename(columns={
    'Name': 'name',
    'Launch Date': 'founded_year',
    'Description': 'description',
    'Country': 'country'
})

# convert founded_year

df_clean['founded_year'] = pd.to_datetime(df_clean['founded_year'], errors='coerce')

# Extract only the year
df_clean['founded_year'] = df_clean['founded_year'].dt.year

# Add new columns
df_clean['industry'] = "Unknown"

df_clean['source'] = "Kaggle/Global Startup Dataset"

In [46]:
# check for nulls
df_clean.isnull().sum()

name            0
country         0
description     0
founded_year    0
industry        0
source          0
dtype: int64

### Standardize formats and remove duplicates

In [47]:
# consistent capitalization
df_clean['industry'] = df_clean['industry'].str.title()
df_clean['country'] = df_clean['country'].str.title()

# convert founded year to integer
df_clean['founded_year'] = pd.to_numeric(df_clean['founded_year'], errors='coerce')

# Remove duplicates
df_clean = df_clean.drop_duplicates(subset=['name', 'founded_year'])

# create a unique startup id based on row index (SID001, SID002, etc.)
df_clean.insert(0, 'Startup Id', ['SID{:03d}'.format(i+1) for i in range(len(df_clean))])

# save cleaned data
df_clean.to_csv("cleaned_startup_data.csv", index=False)

df_clean

,Startup Id,name,country,description,founded_year,industry,source
0,SID001,SpaceX,Usa,Aerospace manufacturer and space transport.,2002,Unknown,Kaggle/Global Startup Dataset
1,SID002,Stripe,Usa,Online payment processing.,2011,Unknown,Kaggle/Global Startup Dataset
2,SID003,Airbnb,Usa,Vacation rentals and homestays.,2008,Unknown,Kaggle/Global Startup Dataset
3,SID004,Uber,Usa,Ride-hailing and food delivery.,2009,Unknown,Kaggle/Global Startup Dataset
4,SID005,Canva,Australia,Graphic design platform.,2013,Unknown,Kaggle/Global Startup Dataset
...,...,...,...,...,...,...,...
1045,SID1046,Smart HealthTech Technologies 1045,Israel,A leading Israel-based HealthTech startup spec...,2017,Unknown,Kaggle/Global Startup Dataset
1046,SID1047,Nova AI/ML Point 1046,Germany,A leading Germany-based AI/ML startup speciali...,2019,Unknown,Kaggle/Global Startup Dataset
1047,SID1048,Nova PropTech Network 1047,Israel,A leading Israel-based PropTech startup specia...,2010,Unknown,Kaggle/Global Startup Dataset
1048,SID1049,NextGen AgriTech Technologies 1048,Japan,A leading Japan-based AgriTech startup special...,2015,Unknown,Kaggle/Global Startup Dataset
1049,SID1050,Global CleanTech Wave 1049,Singapore,A leading Singapore-based CleanTech startup sp...,2018,Unknown,Kaggle/Global Startup Dataset