In [5]:
# Load dataset
import pandas as pd
df = pd.read_csv("startup_data.csv")

# Inspect columns
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Startup Name            500 non-null    object
 1   Industry                500 non-null    object
 2   Funding Rounds          500 non-null    int64
 3   Funding Amount (M USD)  500 non-null    float64
 4   Valuation (M USD)       500 non-null    float64
 5   Revenue (M USD)         500 non-null    float64
 6   Employees               500 non-null    int64
 7   Market Share (%)        500 non-null    float64
 8   Profitable              500 non-null    int64
 9   Year Founded            500 non-null    int64
 10  Region                  500 non-null    object
 11  Exit Status             500 non-null    object
dtypes: float64(4), int64(4), object(4)
memory usage: 47.0+ KB

,Startup Name,Industry,Funding Rounds,Funding Amount (M USD),Valuation (M USD),Revenue (M USD),Employees,Market Share (%),Profitable,Year Founded,Region,Exit Status
0,Startup_1,IoT,1,101.09,844.75,67.87,1468,5.20,0,2006,Europe,Private
1,Startup_2,EdTech,1,247.62,3310.83,75.65,3280,8.10,1,2003,South America,Private
2,Startup_3,EdTech,1,109.24,1059.37,84.21,4933,2.61,1,1995,South America,Private
3,Startup_4,Gaming,5,10.75,101.90,47.08,1059,2.53,0,2003,South America,Private
4,Startup_5,IoT,4,249.28,850.11,50.25,1905,4.09,0,1997,Europe,Acquired

In [6]:
df['Exit Status'].value_counts()

Exit Status
Private     348
Acquired    107
IPO          45
Name: count, dtype: int64

In [7]:
# Required columns
df_clean = df[['Startup Name', 'Year Founded', 'Industry', 'Region']]

# Rename columns
df_clean = df_clean.rename(columns={
    'Startup Name': 'name',
    'Year Founded': 'founded_year',
    'Industry': 'industry',
    'Region': 'country'
})

# Add new columns
df_clean['description'] = "Not Available"

df_clean['source'] = "Crunchbase"

# Handle missing values

In [8]:
# check for nulls
df_clean.isnull().sum()

name            0
founded_year    0
industry        0
country         0
description     0
source          0
dtype: int64

### Standardize formats and remove duplicates

In [9]:
# consistent capitalization
df_clean['industry'] = df_clean['industry'].str.title()
df_clean['country'] = df_clean['country'].str.title()

# convert founded year to integer
df_clean['founded_year'] = pd.to_numeric(df_clean['founded_year'], errors='coerce')

# Remove duplicates
df_clean = df_clean.drop_duplicates(subset=['name', 'founded_year'])

# create a unique startup id based on row index (SID001, SID002, etc.)
df_clean.insert(0, 'Startup Id', ['SID{:03d}'.format(i+1) for i in range(len(df_clean))])

# save cleaned data
df_clean.to_csv("cleaned_startup_data.csv", index=False)

df_clean

,Startup Id,name,founded_year,industry,country,description,source
0,SID001,Startup_1,2006,Iot,Europe,Not Available,Crunchbase
1,SID002,Startup_2,2003,Edtech,South America,Not Available,Crunchbase
2,SID003,Startup_3,1995,Edtech,South America,Not Available,Crunchbase
3,SID004,Startup_4,2003,Gaming,South America,Not Available,Crunchbase
4,SID005,Startup_5,1997,Iot,Europe,Not Available,Crunchbase
...,...,...,...,...,...,...,...
495,SID496,Startup_496,1993,Edtech,Europe,Not Available,Crunchbase
496,SID497,Startup_497,2019,Ai,South America,Not Available,Crunchbase
497,SID498,Startup_498,2019,E-Commerce,Australia,Not Available,Crunchbase
498,SID499,Startup_499,2011,Gaming,Europe,Not Available,Crunchbase
499,SID500,Startup_500,2000,Healthtech,North America,Not Available,Crunchbase