In [2]:
# Load dataset
import pandas as pd
df = pd.read_csv("startup data.csv")

# Inspect columns
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 49 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                923 non-null    int64
 1   state_code                923 non-null    object
 2   latitude                  923 non-null    float64
 3   longitude                 923 non-null    float64
 4   zip_code                  923 non-null    object
 5   id                        923 non-null    object
 6   city                      923 non-null    object
 7   Unnamed: 6                430 non-null    object
 8   name                      923 non-null    object
 9   labels                    923 non-null    int64
 10  founded_at                923 non-null    object
 11  closed_at                 335 non-null    object
 12  first_funding_at          923 non-null    object
 13  last_funding_at           923 non-null    object
 14  age_first_funding_year    923 non-null    float64
 15  age_last_funding_year     923 non-null    float64
 16  age_first_milestone_year  771 non-null    float64
 17  age_last_milestone_year   771 non-null    float64
 18  relationships             923 non-null    int64
 19  funding_rounds            923 non-null    int64
 20  funding_total_usd         923 non-null    int64
 21  milestones                923 non-null    int64
 22  state_code.1              922 non-null    object
 23  is_CA                     923 non-null    int64
 24  is_NY                     923 non-null    int64
 25  is_MA                     923 non-null    int64
 26  is_TX                     923 non-null    int64
 27  is_otherstate             923 non-null    int64
 28  category_code             923 non-null    object
 29  is_software               923 non-null    int64
 30  is_web                    923 non-null    int64
 31  is_mobile                 923 non-null    int64
 32  is_enterprise             923 non-null    int64
 33  is_advertising            923 non-null    int64
 34  is_gamesvideo             923 non-null    int64
 35  is_ecommerce              923 non-null    int64
 36  is_biotech                923 non-null    int64
 37  is_consulting             923 non-null    int64
 38  is_othercategory          923 non-null    int64
 39  object_id                 923 non-null    object
 40  has_VC                    923 non-null    int64
 41  has_angel                 923 non-null    int64
 42  has_roundA                923 non-null    int64
 43  has_roundB                923 non-null    int64
 44  has_roundC                923 non-null    int64
 45  has_roundD                923 non-null    int64
 46  avg_participants          923 non-null    float64
 47  is_top500                 923 non-null    int64
 48  status                    923 non-null    object
dtypes: float64(7), int64(28), object(14)
memory usage: 353.5+ KB

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed

In [3]:
df['status'].value_counts()

status
acquired    597
closed      326
Name: count, dtype: int64

In [4]:
# Required columns
df_clean = df[['id', 'name', 'state_code', 'founded_at', 'category_code']]

# Rename columns
df_clean = df_clean.rename(columns={
    'id': 'startup_id',
    'state_code': 'country',
    'founded_at': 'founded_year',
    'category_code': 'industry'
})

# convert founded_year

df_clean['founded_year'] = pd.to_datetime(df_clean['founded_year'], errors='coerce')

# Extract only the year
df_clean['founded_year'] = df_clean['founded_year'].dt.year

# Add new columns
df_clean['description'] = "Not Available"

df_clean['source'] = "Kaggle"

In [5]:
# check for nulls
df_clean.isnull().sum()

startup_id      0
name            0
country         0
founded_year    0
industry        0
description     0
source          0
dtype: int64

In [6]:
# consistent capitalization
df_clean['industry'] = df_clean['industry'].str.title()
df_clean['country'] = df_clean['country'].str.title()

# convert founded year to integer
df_clean['founded_year'] = pd.to_numeric(df_clean['founded_year'], errors='coerce')

# Remove duplicates
df_clean = df_clean.drop_duplicates(subset=['name', 'founded_year'])


# save cleaned data
df_clean.to_csv("cleaned_startup_data.csv", index=False)

df_clean

,startup_id,name,country,founded_year,industry,description,source
0,c:6669,Bandsintown,Ca,2007,Music,Not Available,Kaggle
1,c:16283,TriCipher,Ca,2000,Enterprise,Not Available,Kaggle
2,c:65620,Plixi,Ca,2009,Web,Not Available,Kaggle
3,c:42668,Solidcore Systems,Ca,2002,Software,Not Available,Kaggle
4,c:65806,Inhale Digital,Ca,2010,Games_Video,Not Available,Kaggle
...,...,...,...,...,...,...,...
918,c:21343,CoTweet,Ca,2009,Advertising,Not Available,Kaggle
919,c:41747,Reef Point Systems,Ma,1998,Security,Not Available,Kaggle
920,c:31549,Paracor Medical,Ca,1999,Biotech,Not Available,Kaggle
921,c:33198,Causata,Ca,2009,Software,Not Available,Kaggle
922,c:26702,Asempra Technologies,Ca,2003,Security,Not Available,Kaggle