In [2]:
import pandas as pd

crunch = pd.read_csv("cleaned_crunchbase_companies.csv")
startup = pd.read_csv("startup data.csv")

crunch.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,founded_month,founded_quarter,founded_year,first_funding_at,last_funding_at
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,1750000,acquired,USA,NY,New York City,New York,1,01/06/2012,2012-06,2012-Q2,2012.0,30/06/2012,30/06/2012
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,4000000,operating,USA,CA,Los Angeles,Los Angeles,2,NaN,NaN,NaN,NaN,04/06/2010,23/09/2010
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,40000,operating,EST,Unknown,Tallinn,Tallinn,1,26/10/2012,2012-10,2012-Q4,2012.0,09/08/2012,09/08/2012
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,1500000,operating,GBR,Unknown,London,London,1,01/04/2011,2011-04,2011-Q2,2011.0,01/04/2011,01/04/2011
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,60000,operating,USA,TX,Dallas,Fort Worth,2,01/01/2014,2014-01,2014-Q1,2014.0,17/08/2014,26/09/2014

In [3]:
crunchbase = crunch[['name','market','funding_total_usd','status','country_code','funding_rounds','founded_year']]
crunchbase.head()

,name,market,funding_total_usd,status,country_code,funding_rounds,founded_year
0,#waywire,News,1750000,acquired,USA,1,2012.0
1,&TV Communications,Games,4000000,operating,USA,2,NaN
2,'Rock' Your Paper,Publishing,40000,operating,EST,1,2012.0
3,(In)Touch Network,Electronics,1500000,operating,GBR,1,2011.0
4,-R- Ranch and Mine,Tourism,60000,operating,USA,2,2014.0

In [4]:
crunchbase = crunchbase.rename(columns={"market":"industry"})
crunchbase.head()

,name,industry,funding_total_usd,status,country_code,funding_rounds,founded_year
0,#waywire,News,1750000,acquired,USA,1,2012.0
1,&TV Communications,Games,4000000,operating,USA,2,NaN
2,'Rock' Your Paper,Publishing,40000,operating,EST,1,2012.0
3,(In)Touch Network,Electronics,1500000,operating,GBR,1,2011.0
4,-R- Ranch and Mine,Tourism,60000,operating,USA,2,2014.0

In [5]:
startup.head()

,Unnamed: 0,state_code,latitude,longitude,zip_code,id,city,Unnamed: 6,name,labels,...,object_id,has_VC,has_angel,has_roundA,has_roundB,has_roundC,has_roundD,avg_participants,is_top500,status
0,1005,CA,42.358880,-71.056820,92101,c:6669,San Diego,NaN,Bandsintown,1,...,c:6669,0,1,0,0,0,0,1.0000,0,acquired
1,204,CA,37.238916,-121.973718,95032,c:16283,Los Gatos,NaN,TriCipher,1,...,c:16283,1,0,0,1,1,1,4.7500,1,acquired
2,1001,CA,32.901049,-117.192656,92121,c:65620,San Diego,San Diego CA 92121,Plixi,1,...,c:65620,0,0,1,0,0,0,4.0000,1,acquired
3,738,CA,37.320309,-122.050040,95014,c:42668,Cupertino,Cupertino CA 95014,Solidcore Systems,1,...,c:42668,0,0,0,1,1,1,3.3333,1,acquired
4,1002,CA,37.779281,-122.419236,94105,c:65806,San Francisco,San Francisco CA 94105,Inhale Digital,0,...,c:65806,1,1,0,0,0,0,1.0000,1,closed

In [6]:
subset_startup = startup[['name','state_code','founded_at','funding_rounds','funding_total_usd','category_code','status']]
subset_startup.head()

,name,state_code,founded_at,funding_rounds,funding_total_usd,category_code,status
0,Bandsintown,CA,1/1/2007,3,375000,music,acquired
1,TriCipher,CA,1/1/2000,4,40100000,enterprise,acquired
2,Plixi,CA,3/18/2009,1,2600000,web,acquired
3,Solidcore Systems,CA,1/1/2002,3,40000000,software,acquired
4,Inhale Digital,CA,8/1/2010,2,1300000,games_video,closed

In [7]:
subset_startup = subset_startup.rename(columns = {'category_code':'industry','founded_at':'founded_year','state_code':'country_code'})
subset_startup.head()

,name,country_code,founded_year,funding_rounds,funding_total_usd,industry,status
0,Bandsintown,CA,1/1/2007,3,375000,music,acquired
1,TriCipher,CA,1/1/2000,4,40100000,enterprise,acquired
2,Plixi,CA,3/18/2009,1,2600000,web,acquired
3,Solidcore Systems,CA,1/1/2002,3,40000000,software,acquired
4,Inhale Digital,CA,8/1/2010,2,1300000,games_video,closed

In [8]:
subset_startup['country_code'] = 'USA'
subset_startup.head()

,name,country_code,founded_year,funding_rounds,funding_total_usd,industry,status
0,Bandsintown,USA,1/1/2007,3,375000,music,acquired
1,TriCipher,USA,1/1/2000,4,40100000,enterprise,acquired
2,Plixi,USA,3/18/2009,1,2600000,web,acquired
3,Solidcore Systems,USA,1/1/2002,3,40000000,software,acquired
4,Inhale Digital,USA,8/1/2010,2,1300000,games_video,closed

In [9]:
subset_startup['founded_year'] = pd.to_datetime(subset_startup['founded_year']).dt.year
subset_startup.head()

,name,country_code,founded_year,funding_rounds,funding_total_usd,industry,status
0,Bandsintown,USA,2007,3,375000,music,acquired
1,TriCipher,USA,2000,4,40100000,enterprise,acquired
2,Plixi,USA,2009,1,2600000,web,acquired
3,Solidcore Systems,USA,2002,3,40000000,software,acquired
4,Inhale Digital,USA,2010,2,1300000,games_video,closed

In [10]:
subset_startup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               923 non-null    object
 1   country_code       923 non-null    object
 2   founded_year       923 non-null    int32
 3   funding_rounds     923 non-null    int64
 4   funding_total_usd  923 non-null    int64
 5   industry           923 non-null    object
 6   status             923 non-null    object
dtypes: int32(1), int64(2), object(4)
memory usage: 47.0+ KB

In [11]:
crunchbase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49438 entries, 0 to 49437
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               49437 non-null  object
 1   industry           49438 non-null  object
 2   funding_total_usd  49438 non-null  int64
 3   status             48124 non-null  object
 4   country_code       49438 non-null  object
 5   funding_rounds     49438 non-null  int64
 6   founded_year       38482 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.6+ MB

In [12]:
crunchbase.isnull().sum()

name                     1
industry                 0
funding_total_usd        0
status                1314
country_code             0
funding_rounds           0
founded_year         10956
dtype: int64

In [13]:
crunchbase.dropna(inplace=True)
crunchbase.isnull().sum()

name                 0
industry             0
funding_total_usd    0
status               0
country_code         0
funding_rounds       0
founded_year         0
dtype: int64

In [14]:
crunchbase.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37563 entries, 0 to 49437
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               37563 non-null  object
 1   industry           37563 non-null  object
 2   funding_total_usd  37563 non-null  int64
 3   status             37563 non-null  object
 4   country_code       37563 non-null  object
 5   funding_rounds     37563 non-null  int64
 6   founded_year       37563 non-null  float64
dtypes: float64(1), int64(2), object(4)
memory usage: 2.3+ MB

In [15]:
crunchbase['founded_year'] = crunchbase['founded_year'].astype('Int64').astype(str)
crunchbase.head()

,name,industry,funding_total_usd,status,country_code,funding_rounds,founded_year
0,#waywire,News,1750000,acquired,USA,1,2012
2,'Rock' Your Paper,Publishing,40000,operating,EST,1,2012
3,(In)Touch Network,Electronics,1500000,operating,GBR,1,2011
4,-R- Ranch and Mine,Tourism,60000,operating,USA,2,2014
7,0-6.com,Curated Web,2000000,operating,Unknown,1,2007

In [16]:
crunchbase.info()

<class 'pandas.core.frame.DataFrame'>
Index: 37563 entries, 0 to 49437
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               37563 non-null  object
 1   industry           37563 non-null  object
 2   funding_total_usd  37563 non-null  int64
 3   status             37563 non-null  object
 4   country_code       37563 non-null  object
 5   funding_rounds     37563 non-null  int64
 6   founded_year       37563 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.3+ MB

In [17]:
subset_startup['founded_year'] = subset_startup['founded_year'].astype(str)
subset_startup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 923 entries, 0 to 922
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               923 non-null    object
 1   country_code       923 non-null    object
 2   founded_year       923 non-null    object
 3   funding_rounds     923 non-null    int64
 4   funding_total_usd  923 non-null    int64
 5   industry           923 non-null    object
 6   status             923 non-null    object
dtypes: int64(2), object(5)
memory usage: 50.6+ KB

In [18]:
crunchbase['name'] = crunchbase['name'].str.strip()
subset_startup['name'] = subset_startup['name'].str.strip()

In [19]:
crunchbase['name'].dtype
subset_startup['name'].dtype

dtype('O')

In [20]:
startup_df = pd.concat([crunchbase,subset_startup], ignore_index=True)
startup_df.head()

,name,industry,funding_total_usd,status,country_code,funding_rounds,founded_year
0,#waywire,News,1750000,acquired,USA,1,2012
1,'Rock' Your Paper,Publishing,40000,operating,EST,1,2012
2,(In)Touch Network,Electronics,1500000,operating,GBR,1,2011
3,-R- Ranch and Mine,Tourism,60000,operating,USA,2,2014
4,0-6.com,Curated Web,2000000,operating,Unknown,1,2007

In [21]:
startup_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38486 entries, 0 to 38485
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               38486 non-null  object
 1   industry           38486 non-null  object
 2   funding_total_usd  38486 non-null  int64
 3   status             38486 non-null  object
 4   country_code       38486 non-null  object
 5   funding_rounds     38486 non-null  int64
 6   founded_year       38486 non-null  object
dtypes: int64(2), object(5)
memory usage: 2.1+ MB

In [22]:
startup_df.drop_duplicates()

,name,industry,funding_total_usd,status,country_code,funding_rounds,founded_year
0,#waywire,News,1750000,acquired,USA,1,2012
1,'Rock' Your Paper,Publishing,40000,operating,EST,1,2012
2,(In)Touch Network,Electronics,1500000,operating,GBR,1,2011
3,-R- Ranch and Mine,Tourism,60000,operating,USA,2,2014
4,0-6.com,Curated Web,2000000,operating,Unknown,1,2007
...,...,...,...,...,...,...,...
38481,CoTweet,advertising,1100000,acquired,USA,1,2009
38482,Reef Point Systems,security,52000000,closed,USA,3,1998
38483,Paracor Medical,biotech,44000000,closed,USA,1,1999
38484,Causata,software,15500000,acquired,USA,2,2009
38485,Asempra Technologies,security,20000000,acquired,USA,1,2003

In [23]:
countries = startup_df['country_code'].unique()
countries

array(['USA', 'EST', 'GBR', 'Unknown', 'CHL', 'FRA', 'CHN', 'CAN', 'AUS',
       'ROM', 'NLD', 'SWE', 'DNK', 'IND', 'SGP', 'DEU', 'BEL', 'IRL',
       'ITA', 'ISR', 'ESP', 'THA', 'RUS', 'NZL', 'CZE', 'CHE', 'BRA',
       'HUN', 'BWA', 'KOR', 'HKG', 'FIN', 'TUR', 'JPN', 'CRI', 'PRT',
       'ARG', 'TWN', 'KHM', 'COL', 'NOR', 'UKR', 'LTU', 'ZAF', 'AUT',
       'PHL', 'ISL', 'URY', 'JOR', 'VNM', 'GHA', 'PER', 'POL', 'IDN',
       'PAN', 'ALB', 'UGA', 'HRV', 'LBN', 'ARE', 'NGA', 'EGY', 'LUX',
       'PAK', 'MEX', 'MYS', 'BHS', 'ARM', 'MDA', 'DZA', 'BGR', 'TUN',
       'TZA', 'CYP', 'KEN', 'NPL', 'BHR', 'CMR', 'SRB', 'SAU', 'CYM',
       'BRN', 'SLV', 'GRC', 'LVA', 'SVK', 'ECU', 'MLT', 'NIC', 'SVN',
       'TTO', 'MAR', 'MMR', 'BGD', 'DOM', 'GTM', 'AZE', 'MCO', 'UZB',
       'OMN', 'BLR', 'BMU', 'JEY', 'JAM', 'MUS', 'SOM', 'MKD', 'GIB',
       'SYC', 'MAF', 'LAO', 'UK'], dtype=object)

In [24]:
startup_df = startup_df[startup_df['country_code'].str.lower() != 'unknown']
startup_df['country_code'].unique()

array(['USA', 'EST', 'GBR', 'CHL', 'FRA', 'CHN', 'CAN', 'AUS', 'ROM',
       'NLD', 'SWE', 'DNK', 'IND', 'SGP', 'DEU', 'BEL', 'IRL', 'ITA',
       'ISR', 'ESP', 'THA', 'RUS', 'NZL', 'CZE', 'CHE', 'BRA', 'HUN',
       'BWA', 'KOR', 'HKG', 'FIN', 'TUR', 'JPN', 'CRI', 'PRT', 'ARG',
       'TWN', 'KHM', 'COL', 'NOR', 'UKR', 'LTU', 'ZAF', 'AUT', 'PHL',
       'ISL', 'URY', 'JOR', 'VNM', 'GHA', 'PER', 'POL', 'IDN', 'PAN',
       'ALB', 'UGA', 'HRV', 'LBN', 'ARE', 'NGA', 'EGY', 'LUX', 'PAK',
       'MEX', 'MYS', 'BHS', 'ARM', 'MDA', 'DZA', 'BGR', 'TUN', 'TZA',
       'CYP', 'KEN', 'NPL', 'BHR', 'CMR', 'SRB', 'SAU', 'CYM', 'BRN',
       'SLV', 'GRC', 'LVA', 'SVK', 'ECU', 'MLT', 'NIC', 'SVN', 'TTO',
       'MAR', 'MMR', 'BGD', 'DOM', 'GTM', 'AZE', 'MCO', 'UZB', 'OMN',
       'BLR', 'BMU', 'JEY', 'JAM', 'MUS', 'SOM', 'MKD', 'GIB', 'SYC',
       'MAF', 'LAO', 'UK'], dtype=object)

In [25]:
%pip install pycountry

Requirement already satisfied: pycountry in /home/lili/anaconda3/lib/python3.11/site-packages (24.6.1)
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pycountry

def convert_country_code(code):
    try:
        return pycountry.countries.get(alpha_3=code).name
    except:
        return code

startup_df['country_code'] = startup_df['country_code'].apply(convert_country_code)

In [27]:
startup_df['country_code'].unique()

array(['United States', 'Estonia', 'United Kingdom', 'Chile', 'France',
       'China', 'Canada', 'Australia', 'ROM', 'Netherlands', 'Sweden',
       'Denmark', 'India', 'Singapore', 'Germany', 'Belgium', 'Ireland',
       'Italy', 'Israel', 'Spain', 'Thailand', 'Russian Federation',
       'New Zealand', 'Czechia', 'Switzerland', 'Brazil', 'Hungary',
       'Botswana', 'Korea, Republic of', 'Hong Kong', 'Finland',
       'TÃ¼rkiye', 'Japan', 'Costa Rica', 'Portugal', 'Argentina',
       'Taiwan, Province of China', 'Cambodia', 'Colombia', 'Norway',
       'Ukraine', 'Lithuania', 'South Africa', 'Austria', 'Philippines',
       'Iceland', 'Uruguay', 'Jordan', 'Viet Nam', 'Ghana', 'Peru',
       'Poland', 'Indonesia', 'Panama', 'Albania', 'Uganda', 'Croatia',
       'Lebanon', 'United Arab Emirates', 'Nigeria', 'Egypt',
       'Luxembourg', 'Pakistan', 'Mexico', 'Malaysia', 'Bahamas',
       'Armenia', 'Moldova, Republic of', 'Algeria', 'Bulgaria',
       'Tunisia', 'Tanzania, United Republic of', 'Cyprus', 'Kenya',
       'Nepal', 'Bahrain', 'Cameroon', 'Serbia', 'Saudi Arabia',
       'Cayman Islands', 'Brunei Darussalam', 'El Salvador', 'Greece',
       'Latvia', 'Slovakia', 'Ecuador', 'Malta', 'Nicaragua', 'Slovenia',
       'Trinidad and Tobago', 'Morocco', 'Myanmar', 'Bangladesh',
       'Dominican Republic', 'Guatemala', 'Azerbaijan', 'Monaco',
       'Uzbekistan', 'Oman', 'Belarus', 'Bermuda', 'Jersey', 'Jamaica',
       'Mauritius', 'Somalia', 'North Macedonia', 'Gibraltar',
       'Seychelles', 'Saint Martin (French part)',
       "Lao People's Democratic Republic", 'UK'], dtype=object)

In [28]:
startup_df = startup_df.rename(columns = {'country_code':"country"})
startup_df.head()

,name,industry,funding_total_usd,status,country,funding_rounds,founded_year
0,#waywire,News,1750000,acquired,United States,1,2012
1,'Rock' Your Paper,Publishing,40000,operating,Estonia,1,2012
2,(In)Touch Network,Electronics,1500000,operating,United Kingdom,1,2011
3,-R- Ranch and Mine,Tourism,60000,operating,United States,2,2014
5,004 Technologies,Software,0,operating,United States,1,2010

In [29]:
startup_df['founded_year'].unique()

array(['2012', '2011', '2014', '2010', '1986', '1984', '2013', '2001',
       '2008', '2009', '2000', '2007', '2006', '1990', '2004', '2005',
       '2002', '1998', '2003', '1999', '1997', '1991', '1987', '1989',
       '1979', '1977', '1988', '1993', '1992', '1972', '1961', '1994',
       '1947', '1995', '1996', '1983', '1976', '1985', '1981', '1949',
       '1974', '1967', '1957', '1946', '1975', '1918', '1980', '1958',
       '1962', '1944', '1982', '1933', '1968', '1943', '1966', '1912',
       '1969', '1978', '1917', '1924', '1973', '1971', '1970', '1922',
       '1930', '1906', '1953', '1913', '1964', '1914', '1948', '1963',
       '1926', '1956', '1911', '1921', '1960', '1954', '1952', '1934',
       '1910', '1919', '1965', '1945', '1929', '1905', '1941', '1959',
       '1955', '1937', '1920', '1925', '1928', '1938', '1950', '1903',
       '1908', '1939', '1923', '1951', '1902', '2018', '2020'],
      dtype=object)

In [31]:
startup_df['founded_year'] = pd.to_numeric(
    startup_df['founded_year'],
    errors = 'coerce'
) 
startup_df = startup_df[startup_df['founded_year'] >= 2000]
startup_df['founded_year'].unique()

array([2012, 2011, 2014, 2010, 2013, 2001, 2008, 2009, 2000, 2007, 2006,
       2004, 2005, 2002, 2003, 2018, 2020])

In [32]:
startup_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 32140 entries, 0 to 38485
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               32140 non-null  object
 1   industry           32140 non-null  object
 2   funding_total_usd  32140 non-null  int64
 3   status             32140 non-null  object
 4   country            32140 non-null  object
 5   funding_rounds     32140 non-null  int64
 6   founded_year       32140 non-null  int64
dtypes: int64(3), object(4)
memory usage: 2.0+ MB

In [33]:
startup_df.to_csv('startup_companies.csv', index=False)